
@using LagDaemon.YAMUD.Model
@using LagDaemon.YAMUD.Model.User
@using LagDaemon.YAMUD.WebClient.Pages
@using LagDaemon.YAMUD.WebClient.Services
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

@inject ILocalStorageService LocalStorageService
@inject IAuthenticationService AuthenticationService
@inject HttpClient HttpClient

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Yet Another MUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/game">Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/player">Player</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/help">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/useraccount">@DisplayName</a>
            </li>
            <AuthorizeView Roles="Admin, Owner, Founder">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" @onclick="ToggleRoomManagementDropdown" aria-expanded="@isRoomManagementDropdownOpen">
                        Admin
                    </a>
                    <div class="@dropdownClass">
                        <a class="dropdown-item" href="/admin/scripting" @onclick="CloseDropdown">Scripting</a>
                        <a class="dropdown-item" href="/dungeon" @onclick="CloseDropdown">Dungeon Creation</a>
                        <a class="dropdown-item" href="/items" @onclick="CloseDropdown">Item Management</a>
                        <a class="dropdown-item" href="/rules" @onclick="CloseDropdown">Rules Engine</a>
                        <a class="dropdown-item" href="/users" @onclick="CloseDropdown">User Management</a>
                        <a class="dropdown-item" href="/characters" @onclick="CloseDropdown">Character Management</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Testing</a>
                    </div>
                </li>
            </AuthorizeView>
        </ul>

        <div class="container-fluid">
            <form class="form-inline">
                <div class="row">
                    <div class="col">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

@code {
    private string DisplayName = string.Empty;
    private UserAccount User = null;
    bool isRoomManagementDropdownOpen = false;

    string dropdownClass => isRoomManagementDropdownOpen ? "dropdown-menu show" : "dropdown-menu";


    protected override async Task OnInitializedAsync()
    {
        User = await AuthenticationService.GetUserAsync();
        var role = User.UserRoles.Select(x => x.Role).Min().ToString();

        DisplayName = $"{User.DisplayName} - {role}";
    }

    void ToggleRoomManagementDropdown()
    {
        isRoomManagementDropdownOpen = !isRoomManagementDropdownOpen;
    }

    private void CloseDropdown()
    {
        isRoomManagementDropdownOpen = false;
    }
}
