@using LagDaemon.YAMUD.Model.Communication
@using LagDaemon.YAMUD.WebClient.Services
@inject IChatService chatService
@inject Authority Authority

<div class="chat-header">
    Notifications
</div>

<div class="chat-container">
    <div class="chat-messages">
        @foreach (var msg in messages)
        {
            <div class="card bg-black" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@msg.Subject</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">@msg.Message</h6>

                    <p class="card-text">@msg.Body</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private string message;
    private List<NotificationMessage> messages = new List<NotificationMessage>();

    protected override void OnInitialized()
    {
        chatService.NotificationReceived += OnNotificationMessageReceived;
    }

    private void OnNotificationMessageReceived(NotificationMessage message)
    {
        messages.Add(message);
        StateHasChanged(); // Notify Blazor to update the UI
    }

}
