@inherits LayoutComponentBase
@using LagDaemon.YAMUD.Model
@using LagDaemon.YAMUD.WebClient.Pages
@using LagDaemon.YAMUD.WebClient.Services
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject ILocalStorageService LocalStorageService
@inject IAuthenticationService AuthenticationService
@inject HttpClient HttpClient

<CascadingAuthenticationState>
    <div class="page">
        <main>
            <AuthorizeView>
                <Authorized>
                    <div class="container-fluid">
                        <NavMenu />
                    </div>
                    <div class="container-lg">
                        @Body
                    </div>
                </Authorized>
                <NotAuthorized>
                    <h1>Please log in to access this page.</h1>
                    <LoginForm />
                </NotAuthorized>
            </AuthorizeView>
        </main>
    </div>
</CascadingAuthenticationState>


@code {
    public bool UserIsLoggedIn = false;
    private UserAccountRoles userRole;
    public string DisplayName { get; set; } = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var token = await LocalStorageService.GetObjectAsync<string>("authToken");

            UserIsLoggedIn = token.ExpirationTime > DateTime.Now;

            if (UserIsLoggedIn)
            {
                AuthenticationService.Authorize(token.Item);
            }
        } catch (Exception ex)
        {
            UserIsLoggedIn = false;
        }
        StateHasChanged();
    }




}