<div clsass="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Yet Another MUD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
            <div class="my-2 my-lg-0">
                <!-- Link to UserAccount page with display name as link text -->
                <a class="nav-link" href="/useraccount">@DisplayName</a>
                <!-- If you want to display an image, you can still include it here -->
                @*                     <img src="profile_icon.png" alt="Profile" style="width: 30px; height: 30px; border-radius: 50%;">
                *@
            </div>
        </div>
    </nav>
</div>

@code {
    public string DisplayName = String.Empty;
}
